@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* MAIN */

.main {
    width: 100%;

    &__container {
        width: min(calc(100% - 48px), f.rem(1210));
        margin-inline: auto;
        text-align: center;
    }
}

.slider {

    &__group {
        width: 100%;
        font-size: 1rem;
        font-size: clamp(1rem, 0.65rem + 1.50vw, 2rem);
        margin-inline: auto;
        transition: 0.4s cubic-bezier(.17,.67,.33,.93);
        
        .img {
            margin-inline: auto;
            max-width: f.rem(540);
        }
    }
    
    &__content {
        margin-inline: auto;
        padding: 1em;
        max-width: f.rem(800);

        p {
            margin-bottom: f.rem(16);
        }

        .name {
            font-size: 1rem;
            font-size: clamp(1rem, 0.47rem + 1.8vw, 1.5rem);
        }

        background-image: url('../images/pattern-quotes.svg');
        background-repeat: no-repeat;
        background-position: top left;
        background-position-x: 100px;
    }

    &__button {
        background-color: white;
        border-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: .5em;

        button {
            background-color: transparent;
        }
    }

    @include bp.breakpointMin(large-screen) {
        text-align: left;
        height: 540px;

        &__group {

            .img {
                margin-inline: 0;   
                margin-inline-start: auto;

            }
        }

        &__content {
            padding-block: f.rem(64);
        }
    }
}

.slider__group[data-status='unknown'] {
    transform: scale(0);
}

.slider__group[data-status='after'] {
    transform: translateX(50%) scale(0);
    transition: none;
}

.slider__group[data-status='before'] {
    transform: translateX(-50%) scale(0);
    transition: none;
}

.slider__group[data-status='active'] {
    transition-delay: 50ms;
}