@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* DISPLAY */

.slider {
    position: relative;

    &__group {
        display: flex;
        flex-direction: column;
        gap: f.rem(34);

        .name {
            display: flex;
            flex-direction: column;
        }

        @include bp.breakpointMin(large-screen) {
            flex-direction: row-reverse;

            .name {
                flex-direction: row;
                gap: f.rem(16);
            }
        }
    }

    &__group:last-child {
        position: absolute;
        inset: 0;
    }

    &__button {
        display: flex;
        align-items: center;
        gap: f.rem(16);
    }
}