@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* DISPLAY */

.slider {

    &__group {
        display: flex;
        flex-direction: column;
        gap: f.rem(34);

        .name {
            display: flex;
            flex-direction: column;
        }
    }
}