@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* POSITION */

/* MAIN */
.main {
    position: relative;

    &__position {
        padding-block: f.rem(32);

        .bg {
            width: 25rem;
            width: clamp(25rem, -17.41rem + 142.86vw, 46.875rem);

            position: absolute;
            top: 0;
            right: 10px;

            @include bp.breakpointMin(large-screen) {
                top: -30px;
                right: 50px;
            }
        }
    }
}

.slider {
    
    &__group {
        position: relative;

        .img {
            position: relative;
        }

        @include bp.breakpointMin(large-screen) {

            .slider__content{
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                z-index: 1;
            }
        }
    }

    &__button {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);

        @include bp.breakpointMin(large-screen) {
            left: 15%;
        }
    }
}

/* FOOTER */

footer {

    .attribution a {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin-inline: auto;
            width: 0;
            height: 2px;
            background-color: var(--clr-primary-400);
            transition: width .3s ease;
        }

        &:hover::after {
            width: 100%;
        }
    }
}