@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* FOOTER */

footer {
    margin-top: auto;
}

.attribution { 
    color: var(--clr-primary-200);
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.27rem + 1.63vw, 1rem);
    text-align: center; 
}
    
.attribution a { 
    color: var(--clr-primary-400); 
}